{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Best Movie Actors
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the crash triage helper!</h1>

      <p class="lead">Enter the issue description to find out dev who can help fix it.</p>

      {{ wtf.quick_form(form) }}
<br>
      <p class="pt-5"><strong>{{ message }}</strong></p>
<h4><b>Bug entered</b></h4>

{{input_bug}}
<br><br>
<h4><b>Most similar bugs and their dev</b></h4>

    <ol>
{% for s in similarity %}

        <p class="pt-5"><strong><li>{{s['dev']}}   ({{s['proba']}}%)</li></strong></p>
	{{s['desc']}}
	<hr color= "black"/> 
{% endfor %}
    </ol>

    </div>
  </div>
</div>

{% endblock %}

